<div
  class="d-flex justify-content-center align-content-center"
  style="margin-top: 7rem"
>
  <div class="row container">
    <div class="col-xl-6 col-md-10 col-sm-12">
      <h1>Hi, I am Mohamed Osama, Frontend Developer & Ux/Ui Designer</h1>
      <h2>
        "a skilled Frontend Developer who specializes in creating engaging user
        experiences through innovative designs and seamless functionality."
      </h2>
      <button
        mat-button
        class="downloadBtn ml-5 mt-5"
        (click)="downloadResume()"
      >
        Download Resume
      </button>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="img__prof">
        <!-- <img src="../../../assets/img/4.png"> -->
      </div>
    </div>
  </div>
</div>
