h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
}
.downloadBtn {
  background-color: #ff6464;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 1.7rem;
}
.img__prof {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  border: 2px solid salmon;


}
